.navbar {
    position: fixed;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 15vw 0px 15vw;
    z-index: 4;
    justify-content: space-between;
    -webkit-backdrop-filter: blur(180px);
    backdrop-filter: blur(180px);
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    padding: 0px 50px 0px 50px;
}

.navbar ul li a {
    transition: color 0.2s ease;
    display: flex;
    align-items: center;
}

.navbar ul li a:hover {
    color: #55F680;
}

.navbar ul li a .icon {
    margin-right: 10px;
}