.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 150px 15vw 0px 15vw;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.main * {
    z-index: 5;
}

.main .settings {
    list-style: none;
    display: flex;
    margin: 10px 0px 0px 0px;
}

.main .settings li {
    margin: 0px 20px 0px 0px;
}

.icon {
    font-size: 24px;
    transition: transform 0.2s ease;
}

.icon:hover {
    transform: rotate(20deg);
}

.container {
    width: 70vw;
    height: 60vh;
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Regular;
    position: relative;
}

.addStreaks {
    transform: translateX(20px) translateY(20px);
    cursor: pointer;
    width: 55px;
    height: 55px;
    background-color: var(--primary);
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--dark);
    transition: transform 0.2s ease;
}

.addStreaks:hover {
    transform: translateX(20px) translateY(20px) scale(1.1);
}