@font-face {
  font-family: 'Bold';
  src: url('../src/font/bold.otf');
}

@font-face {
  font-family: 'Italic';
  src: url('../src/font/italic.otf');
}

@font-face {
  font-family: 'Regular';
  src: url('../src/font/regular.otf');
}

:root {
  --dark: #060A07;
  --primary: #55F680;
  --secondary: #30FFCE;
  --text: #D7FEE1;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Bold', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
