.main {
    width: 100%;
    height: 100vh;
}

.hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.hero p {
    font-size: 30px;
}

.hero .content {
    z-index: 2;
    padding: 0px 0px 0px 15vw;
}

.hero .buttons {
    display: flex;
    align-items: center;
}

.hero .button {
    margin: 20px 20px 10px 0px;
    transition: background 0.2s ;
}

.hero .button:nth-child(1) {
    background-color: var(--primary);
}

.hero .button:nth-child(2) {
    background-color: var(--secondary);
}

.hero .button:nth-child(1):hover {
    background-color: var(--primary-dark);
}

.hero .button:nth-child(2):hover {
    background-color: var(--secondary-dark);
}

.hero .button .icon {
    font-size: 20px;
    margin-right: 5px;
}